<div class="container">
  <div class="row">
    <h2>My Emails</h2>
    <hr />
  </div>
  <div class="row">
    <div class="col-md-6">
      <h3>Email List</h3>
      <ul class="list-group well">
        <li class="list-group-item">Email 1</li>
        <li class="list-group-item">Email 1</li>
        <li class="list-group-item">Email 1</li>
        <li class="list-group-item">Email 1</li>
        <li class="list-group-item">Email 1</li>
      </ul>

    </div>
    <div class="col-md-6">
      <h3>Email</h3>
      <h5>To:</h5>
      <h5>Subject:</h5>
      <hr />
      <p>
        message
      </p>
    </div>
  </div>
</div>
