<style>
.col-centered{
  float: none;
  margin: 0 auto;
}
</style>

<div class="container center-block">
  <div class="row" style="margin-top: 10%">
    <div class="col-lg-1 col-centered">
      <h1>EmailMyRep.com</h1>
    </div>
  </div>
  <div class="row"style="margin-top: 10%">
    <p>
      Get involved in the political process and email your repsertive.
    </p>
  </div>
  <div class="row"style="margin-top: 10%">
    <a class="button btn-lg btn-danger">Login with<i class="google icon"></i></a>
  </div>
</div>
