<style>
.col-centered{
  text-align: center;
}
</style>
<div class="container">
  <form>
    <div class="row">
      <div class="col-centered">
        <h1>Select a Template</h1>
        <hr />
      </div>
    </div>
    <div class="row">
      <!-- Templete List -->
      <div class="col-md-6">
        <label for="templates">Templates</label>
        <div class="well">
          <div class="radio">
            <label><input type="radio" name="optradio">Start from scratch</label>
          </div>
          {{#each results}}
          <div class="radio">
            <label><input type="radio" name="optradio">{{Title}}</label>
          </div>
          {{/each}}
        </div>
      </div>
      <!-- Decription -->
      <div class="col-md-6">
        <label for="templates">Title</label>
        <p>
          description of template
        </p>
        <hr />
        <p>
          Actual Template
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-4 col-centered">
        <!--<button type="submit" class="btn btn-lg btn-danger">Select</button>-->
        <a href="/email" class="btn btn-lg btn-danger">Select</a>
      </div>
    </div>
  </form>
</div>
